@charset "UTF-8";
/* ------------------------------------------------------------ *    Imports
\* ------------------------------------------------------------ */
/* ------------------------------------------------------------ *	Fonts
\* ------------------------------------------------------------ */
@font-face {
  font-family: 'Monotype Corsiva';
  src: url("../fonts/monotype-corsiva/Monotype Corsiva.ttf") format("truetype");
  /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
}

@font-face {
  font-family: 'DancingScript';
  src: url("../fonts/Dancing_Script/DancingScript-Regular.ttf") format("truetype");
}

@font-face {
  font-family: 'DancingScript';
  src: url("../fonts/Dancing_Script/DancingScript-Bold.ttf") format("truetype");
}

/* ------------------------------------------------------------ *    Variables
\* ------------------------------------------------------------ */
/*  Colors  */
/*  Base body  */
/*  Links  */
/*  @media */
/* ------------------------------------------------------------ *	Reset
\* ------------------------------------------------------------ */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
  box-sizing: border-box;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before, blockquote:after {
  content: '';
  content: none;
}

q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

button {
  background-color: transparent;
  outline: none;
  border: 0;
  cursor: pointer;
}

select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  outline: none;
}

input {
  outline: none;
}

/* ------------------------------------------------------------ *	Base
\* ------------------------------------------------------------ */
body {
  background: url("../css/images/background.png") repeat fixed;
  background-size: cover;
  font-family: "Open Sans", sans-serif;
  font-size: 15px;
}

a {
  text-decoration: none;
  color: black;
}

img {
  max-width: 100%;
  height: auto;
  display: inline-block;
  vertical-align: middle;
}

h1 {
  font-family: "Open Sans", sans-serif;
  font-size: 26px;
  font-weight: 400;
  text-align: center;
  color: #000;
  text-transform: uppercase;
  background: rgba(255, 255, 255, 0.8);
  padding: 30px 0;
}

h2 {
  font-family: "Open Sans", sans-serif;
  font-size: 17px;
  font-weight: 400;
  color: #fff;
  line-height: 30px;
}

/* ------------------------------------------------------------ *	Helpers
\* ------------------------------------------------------------ */
.clearfix {
  content: '';
  display: block;
  line-height: 0;
  clear: both;
}

/* ------------------------------------------------------------ *	Header
\* ------------------------------------------------------------ */
.header {
  background: rgba(255, 255, 255, 0.8);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 22;
  padding: 13px 0;
}

.header .nav {
  text-transform: uppercase;
  font-weight: 300;
  color: #000;
  font-family: "Open Sans", sans-serif;
  font-size: 15px;
}

.header .nav a {
  color: #000;
}

.header .logo img {
  width: 75px;
  height: 40px;
}

.header .nav-lang ul {
  font-size: 15px;
  font-weight: 400;
  margin: 10px 0;
}

.header .nav-lang ul li {
  display: inline-block;
}

.header .nav-lang ul li:nth-child(2) {
  border-left: 1px solid #000;
  line-height: 8px;
}

.header .nav-lang ul li a {
  padding: 4px 0 4px 4px;
}

.header .nav-lang ul li a:hover {
  background-color: #fff;
  font-weight: bold;
}

.header .nav-lang ul li a:hover:after {
  border-bottom: 0;
}

.header .phone {
  font-size: 15px;
  font-weight: 400;
  text-align: center;
  display: block;
  margin-top: -35px;
}

.header .phone:before {
  content: url("../css/images/phone.png");
  vertical-align: middle;
  padding-right: 10px;
  display: inline-block;
}

.header.scrolled, .header.active {
  background: #fff;
}

@media only screen and (min-width: 1023px) {
  .header .logo img {
    width: 121px;
    height: 59px;
  }
  .header .phone {
    font-size: 18px;
    float: right;
    margin-right: 80px;
    margin-top: 0;
    overflow: hidden;
  }
  .header .phone:after {
    clear: both;
    display: block;
    content: '';
  }
  .header .nav-lang ul {
    position: absolute;
    top: -70px;
    right: 10px;
  }
  .nav {
    display: block;
  }
}

/* ------------------------------------------------------------ *	Inner
\* ------------------------------------------------------------ */
.inner {
  padding: 20px;
}

@media only screen and (min-width: 1023px) {
  .inner {
    width: 980px;
    margin: 0 auto;
    padding: 0;
  }
}

/* ------------------------------------------------------------ *	Navigations
\* ------------------------------------------------------------ */
.nav {
  position: relative;
  display: none;
}

.nav ul a {
  display: block;
  padding: 20px 0;
}

.nav ul a:hover {
  background-color: #dcd9de;
}

.nav.active {
  display: block;
  transform: translateX(0);
  height: 100vh;
  width: 100%;
  background: #fff;
  margin-top: 22px;
  text-align: center;
}

.nav ul.sub-list {
  display: none;
  width: 100%;
}

.nav ul.sub-list li {
  display: list-item;
}

.nav ul.sub-list li a {
  padding: 20px 0;
}

.nav li.has-sub-list a.down:after {
  content: "\f107";
  font-family: FontAwesome;
  margin-left: 10px;
  -ms-transform: rotate(0);
  /* IE 9 */
  -webkit-transform: rotate(0);
  /* Safari */
  transform: rotate(0);
}

.nav li.has-sub-list.active a.down:after {
  content: "\f106";
  font-family: FontAwesome;
  margin-left: 10px;
  -ms-transform: rotate(180deg);
  /* IE 9 */
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
  -ms-transition: all 0.4s;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

.nav li.active .sub-list {
  display: inline-block;
  position: static;
  text-transform: uppercase;
}

.nav-trigger {
  position: absolute;
  right: 20px;
  top: 20px;
  display: inline-block;
  z-index: 3;
  width: 40px;
  height: 26px;
}

.nav-trigger span {
  position: absolute;
  display: block;
  width: 100%;
  height: 3px;
  background: #000;
  transition: top .2s .25s, left .2s .25s, opacity .2s .25s, -webkit-transform .2s 0s;
  transition: top .2s .25s, left .2s .25s, opacity .2s .25s, transform .2s 0s;
  transition: top .2s .25s, left .2s .25s, opacity .2s .25s, transform .2s 0s, -webkit-transform .2s 0s;
}

.nav-trigger span:nth-child(1) {
  top: 0;
}

.nav-trigger span:nth-child(2) {
  top: 12px;
}

.nav-trigger span:nth-child(3) {
  top: 25px;
}

.nav-trigger.active span {
  transition: background .2s, top .2s, left .2s, opacity .2s, -webkit-transform .2s .25s;
  transition: background .2s, top .2s, left .2s, opacity .2s, transform .2s .25s;
  transition: background .2s, top .2s, left .2s, opacity .2s, transform .2s .25s, -webkit-transform .2s .25s;
}

.nav-trigger.active span:nth-child(3),
.nav-trigger.active span:nth-child(1) {
  top: 12px;
  background: #000;
}

.nav-trigger.active span:nth-child(2) {
  opacity: 0;
}

.nav-trigger.active span:nth-child(1) {
  transform: rotate(45deg);
}

.nav-trigger.active span:nth-child(3) {
  transform: rotate(-45deg);
}

@media only screen and (min-width: 1023px) {
  .nav {
    display: block;
  }
  .nav ul {
    position: absolute;
    top: -41px;
    right: 0;
  }
  .nav ul li {
    display: inline-block;
    cursor: pointer;
  }
  .nav ul li:hover .sub-list {
    display: block;
  }
  .nav ul a {
    position: relative;
    padding: 20px 10px;
  }
  .nav ul a:hover {
    background-color: transparent;
  }
  .nav ul a:hover:after {
    width: 50%;
    left: 25%;
    content: "";
    position: absolute;
    height: 1px;
    bottom: 10px;
    border-bottom: 2px solid #000;
  }
  .nav ul.sub-list {
    display: none;
    position: absolute;
    top: 54px;
    background: rgba(255, 255, 255, 0.8);
    width: 145px;
    right: 221px;
    text-transform: initial;
  }
  .nav ul.sub-list li {
    display: list-item;
  }
  .nav ul.sub-list li a {
    padding: 10px 14px;
  }
  .nav ul.sub-list li a:hover {
    background-color: rgba(255, 255, 255, 0.8);
  }
  .nav ul.sub-list li a:hover:after {
    border-bottom: none;
  }
  .nav li.has-sub-list a.down:after {
    content: '';
    display: block;
  }
  .nav li.has-sub-list a:hover:after {
    border-bottom: 0;
  }
  .nav-trigger {
    display: none;
  }
  .fa.fa-caret-down {
    display: none;
  }
}

/* ------------------------------------------------------------ *	Main
\* ------------------------------------------------------------ */
.skrollr-body {
  margin: 100px auto;
}

@media only screen and (min-width: 1023px) {
  .skrollr-body {
    margin: 120px auto;
  }
}

/* ------------------------------------------------------------ *	About-us
\* ------------------------------------------------------------ */
.about h1 {
  font-size: 20px;
}

.about .inner {
  background: rgba(255, 255, 255, 0.8);
}

.about .inner p {
  font-size: 15px;
  font-family: "Open Sans", sans-serif;
  line-height: 20px;
  font-weight: 300;
  word-break: keep-all;
  text-align: left;
  padding-bottom: 20px;
}

.about .inner ul li {
  list-style: disc;
  list-style-position: inside;
  font-size: 15px;
  font-family: "Open Sans", sans-serif;
  line-height: 20px;
  font-weight: 300;
  word-break: keep-all;
  text-align: left;
  padding: 10px 0;
}

.gallery {
  display: block;
  padding: 0 20px;
}

.gallery .gallery-picture {
  width: 100%;
  display: block;
  overflow: hidden;
  margin-bottom: 10px;
  position: relative;
}

.gallery .gallery-picture img {
  display: block;
  width: 100%;
}

.gallery .gallery-overlay {
  background: rgba(0, 0, 0, 0.8);
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  opacity: 0;
  -webkit-transition: all 0.4s ease-in-out 0s;
  -moz-transition: all 0.4s ease-in-out 0s;
  transition: all 0.4s ease-in-out 0s;
}

.gallery .gallery-overlay span {
  color: #fff;
  font-size: 20px;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  text-align: center;
  display: block;
  margin: 25% auto;
}

@media only screen and (min-width: 768px) {
  .gallery {
    padding: 0;
  }
  .gallery .gallery-picture {
    width: 48%;
    float: left;
    margin: 0 0 10px 10px;
  }
  .gallery .gallery-picture:after {
    display: block;
    clear: both;
    content: "";
  }
  .gallery:after {
    display: block;
    clear: both;
    content: "";
  }
}

@media only screen and (min-width: 1023px) {
  .about h1 {
    font-size: 26px;
  }
  .gallery {
    margin: 50px 0;
  }
  .gallery .gallery-picture {
    width: 16.66%;
    margin: 0;
  }
  .gallery .gallery-picture:hover .gallery-overlay {
    opacity: 1;
  }
}

@media only screen and (min-width: 1366px) {
  .gallery .gallery-overlay span {
    font-size: 25px;
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    text-align: center;
    display: block;
    margin: 35% auto;
  }
}

/* ------------------------------------------------------------ *	Intro
\* ------------------------------------------------------------ */
.intro {
  position: relative;
  background-image: url("css/images/intro-icon.png");
  background-repeat: no-repeat;
  background-position: left 0% bottom 0%;
  padding: 50px 0;
  width: 90%;
  margin: auto;
}

.intro p {
  font-size: 20px;
  font-family: "Monotype Corsiva";
  color: #371648;
  text-align: center;
  line-height: 30px;
}

.intro span {
  font-size: 20px;
  font-family: "Monotype Corsiva";
  color: #371648;
  text-align: right;
  display: block;
  margin-right: 30px;
  margin-top: 15px;
}

.intro .read-more {
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  font-size: 15px;
  display: block;
  text-align: right;
  padding-top: 35px;
  margin-right: 30px;
}

.intro .read-more:hover {
  font-weight: 400;
}

@media only screen and (min-width: 1023px) {
  .intro {
    width: 980px;
  }
  .intro p {
    font-size: 35px;
    line-height: 40px;
  }
  .intro span {
    font-size: 35px;
  }
  .intro .read-more {
    font-family: "Open Sans", sans-serif;
    font-size: 20px;
  }
}

/* ------------------------------------------------------------ *	Content
\* ------------------------------------------------------------ */
.content {
  padding: 0 20px 20px;
  background: rgba(255, 255, 255, 0.7);
  overflow: hidden;
  margin-bottom: 100px;
}

.content h1 {
  font-size: 20px;
}

.content .text-wrapper .text {
  overflow: hidden;
  margin: 20px 0;
}

.content a.button.black_border {
  margin: 0 auto;
}

.content a.button.black_border:hover {
  background-color: #000;
  color: #fff;
}

.content .image-wrapper {
  width: 100%;
}

@media only screen and (min-width: 1023px) {
  .content {
    padding: 0;
  }
  .content h1 {
    font-size: 26px;
  }
  .content .text-wrapper {
    float: left;
  }
  .content .text-wrapper .text {
    float: right;
    width: 100%;
    text-align: right;
    padding: 20px;
    overflow: hidden;
  }
  .content .text-wrapper:after {
    clear: both;
    content: '';
    display: block;
  }
  .content a.button.black_border {
    margin-right: 35px;
    float: right;
    overflow: hidden;
  }
  .content .image-wrapper {
    float: right;
    overflow: hidden;
  }
  .content .image-wrapper:after {
    clear: both;
    content: '';
    display: block;
  }
}

@media only screen and (min-width: 1366px) {
  .content .text-wrapper .text {
    width: 70%;
    padding: 50px;
  }
}

@media only screen and (min-width: 1920px) {
  .content .text-wrapper .text {
    width: 50%;
    padding: 10 0px;
  }
}

/* ------------------------------------------------------------ *	Button
\* ------------------------------------------------------------ */
a.button {
  width: 135px;
  padding: 7px;
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
  font-weight: 400;
  display: block;
}

a.button.black_border {
  border: 2px solid #000;
  color: #000;
}

a.button.white_border {
  border: 2px solid #fff;
  color: #fff;
}

/* ------------------------------------------------------------ *	Products
\* ------------------------------------------------------------ */
.products h1 {
  font-size: 20px;
}

.products .swiper-container {
  margin-bottom: 100px;
}

.products .swiper-container .swiper-slide {
  position: relative;
  display: block;
  overflow: hidden;
  padding: 2px;
}

.products .swiper-container .swiper-slide a {
  width: 100%;
  display: block;
  max-height: 320px;
  height: 100%;
}

.products .swiper-container .swiper-slide a img {
  width: 100%;
}

.products .swiper-container .swiper-slide a span {
  font-family: "DancingScript";
  font-size: 35px;
  font-weight: 300;
  color: #fff;
  position: absolute;
  z-index: 1;
  top: 35%;
  left: 10%;
  text-align: left;
}

.products .swiper-container .swiper-slide a span:hover span:after {
  width: 90%;
  left: 1%;
  content: "";
  position: absolute;
  bottom: -10px;
  border-bottom: 2px solid #fff;
}

.swiper-slide .overlay {
  background: rgba(0, 0, 0, 0.6);
  position: absolute;
  height: 99%;
  width: 100%;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  opacity: 0;
  margin: 2px;
  -webkit-transition: all 0.4s ease-in-out 0s;
  -moz-transition: all 0.4s ease-in-out 0s;
  transition: all 0.4s ease-in-out 0s;
}

.swiper-slide .overlay a.button.white_border.overlay {
  width: 150px;
  height: 40px;
  text-align: center;
  left: 7%;
  top: 66%;
}

@media only screen and (min-width: 1023px) {
  .products h1 {
    font-size: 26px;
  }
  .products .swiper-container .swiper-slide:hover .overlay {
    opacity: 1;
  }
  .products .swiper-container .swiper-slide:hover a.button.white_border.overlay {
    background: none;
  }
  .products .swiper-container .swiper-slide:hover span:after {
    width: 90%;
    left: 1%;
    content: "";
    position: absolute;
    bottom: -10px;
    border-bottom: 2px solid #fff;
  }
}

/* ------------------------------------------------------------ *	Products-categories
\* ------------------------------------------------------------ */
.categories {
  display: block;
  padding: 20px;
  margin: 0 auto;
  background: rgba(255, 255, 255, 0.8);
  text-align: center;
}

.categories ul li a {
  display: block;
  border: 1px solid #000;
  color: #000;
  font-size: 18px;
  margin: 10px 0;
  padding: 10px;
  text-align: center;
  cursor: pointer;
}

.categories ul li a:hover, .categories ul li a:active {
  background: #000;
  color: #fff;
}

.categories .show_results {
  text-align: center;
  margin: 20px 0;
}

@media only screen and (min-width: 480px) {
  .categories ul li {
    display: inline-block;
    width: 25%;
    margin: 0 10px;
  }
}

@media only screen and (min-width: 1023px) {
  .categories {
    width: 980px;
    padding: 20px 0;
  }
  .categories ul li {
    display: inline-block;
    width: 17%;
    margin: 0 13px;
  }
  .categories ul li a {
    font-size: 20px;
  }
  .categories .show_results {
    font-size: 18px;
  }
}

/* ------------------------------------------------------------ *	Products-list
\* ------------------------------------------------------------ */
.list-container {
  padding: 0 20px;
  margin: 0 auto;
  text-align: center;
  background: rgba(255, 255, 255, 0.8);
}

.list-container .list-box {
  position: relative;
  display: block;
  overflow: hidden;
  padding: 2px;
}

.list-container .list-box a {
  width: 100%;
  display: block;
  max-height: 320px;
  height: 100%;
}

.list-container .list-box a img {
  width: 100%;
}

.list-container .list-box a span {
  font-family: "DancingScript";
  font-size: 35px;
  font-weight: 300;
  color: #fff;
  position: absolute;
  z-index: 1;
  top: 35%;
  left: 10%;
  text-align: left;
}

.list-container .list-box a span:hover span:after {
  width: 90%;
  left: 1%;
  content: "";
  position: absolute;
  bottom: -10px;
  border-bottom: 2px solid #fff;
}

.list-container .overlay {
  background: rgba(0, 0, 0, 0.6);
  position: absolute;
  height: 99%;
  width: 100%;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  opacity: 0;
  margin: 2px;
  -webkit-transition: all 0.4s ease-in-out 0s;
  -moz-transition: all 0.4s ease-in-out 0s;
  transition: all 0.4s ease-in-out 0s;
}

.list-container .overlay a.button.white_border.overlay {
  width: 150px;
  height: 40px;
  text-align: center;
  left: 7%;
  top: 60%;
}

@media only screen and (min-width: 768px) {
  .list-container .list-box {
    width: 50%;
    float: left;
    overflow: hidden;
  }
  .list-container:after {
    clear: both;
    display: block;
    content: '';
  }
}

@media only screen and (min-width: 1023px) {
  .list-container .list-box {
    width: 25%;
  }
  .list-container .list-box:hover .overlay {
    opacity: 1;
  }
  .list-container .list-box:hover a.button.white_border.overlay {
    background: none;
  }
  .list-container .list-box:hover span:after {
    width: 90%;
    left: 1%;
    content: "";
    position: absolute;
    bottom: -10px;
    border-bottom: 2px solid #fff;
  }
}

/* ------------------------------------------------------------ *	Brands
\* ------------------------------------------------------------ */
.brands_section .brands_banner {
  display: block;
  width: 100%;
  height: 200px;
  background: url("../css/images/banner-sofitel.png") no-repeat center;
  background-size: cover;
}

.brands_section .brands_list_wrapper {
  padding: 20px;
  margin: 0 auto;
}

.brands_list {
  background: #000;
  color: #fff;
  overflow: hidden;
  margin: 20px 0;
}

.brands_list img {
  display: block;
  margin: 20px auto;
}

.brands_list .brands_text {
  padding: 20px;
}

.brands_list .brands_text h2 {
  text-align: center;
  text-transform: uppercase;
  font-size: 25px;
  letter-spacing: 2px;
  margin: 10px 0;
}

.brands_list .brands_text p {
  text-align: left;
  word-break: keep-all;
  line-height: 25px;
  font-size: 13px;
  padding: 5px 0;
}

.brands_list .brands_text p span {
  text-transform: uppercase;
}

.brands_list .brands_text ul li {
  list-style: disc;
  list-style-position: inside;
  line-height: 25px;
  font-size: 13px;
}

.brands_list .brands_text a {
  display: block;
  color: #fff;
  font-size: 15px;
  text-align: left;
  padding: 20px 0;
  font-weight: 400;
}

.brands_list .brands_text a:hover {
  text-decoration: underline;
}

@media only screen and (min-width: 1023px) {
  .brands_section .brands_banner {
    height: 400px;
    margin-bottom: 80px;
  }
  .brands_section .brands_list_wrapper {
    width: 900px;
    padding: 0;
  }
  .brands_list img {
    float: left;
    margin-top: 150px;
    margin-left: 30px;
  }
  .brands_list .brands_text {
    float: right;
    width: 66%;
  }
  .brands_list .brands_text:after {
    clear: both;
    display: block;
    content: "";
  }
  .brands_list .brands_text p {
    font-size: 15px;
    padding: 10px 0;
  }
  .brands_list .brands_text ul li {
    font-size: 15px;
  }
  .brands_list .brands_text a {
    text-align: right;
    font-size: 22px;
  }
  .brands_list .brands_text a:hover {
    text-decoration: underline;
  }
}

/* ------------------------------------------------------------ *	Certificates-section
\* ------------------------------------------------------------ */
.certificates {
  background: rgba(255, 255, 255, 0.8);
}

.certificates .inner {
  padding: 0;
}

.certificates .inner .certificates_wrapper {
  padding: 0 20px 40px;
  text-align: center;
}

.certificates .inner .certificates_wrapper h2 {
  color: #000;
  font-size: 20px;
  padding: 10px 0;
}

.certificates .inner .certificates_wrapper p {
  font-size: 17px;
  font-weight: 300;
}

@media only screen and (min-width: 768px) {
  .certificates .certificates_wrapper {
    width: 50%;
    float: left;
  }
  .certificates:after {
    clear: both;
    content: "";
    display: block;
  }
}

/* ------------------------------------------------------------ *	Technology
\* ------------------------------------------------------------ */
.technology {
  padding: 0 20px 20px;
  overflow: hidden;
  margin-bottom: 100px;
}

.technology h1 {
  font-size: 20px;
}

.technology .image-wrapper {
  text-align: center;
  background: #fff;
}

.technology .image-wrapper img {
  width: 200px;
}

.technology .text-wrapper {
  background: #000;
  padding: 40px;
  text-align: center;
}

.technology .text-wrapper .text p {
  line-height: 25px;
  color: #fff;
}

.technology .text-wrapper .text p:first-child {
  font-weight: bold;
}

.technology a.button.white_border {
  margin: 40px auto 0;
}

.technology a.button.white_border:hover {
  background-color: #fff;
  color: #000;
}

@media only screen and (min-width: 1023px) {
  .technology {
    padding: 0;
  }
  .technology h1 {
    font-size: 26px;
  }
  .technology .image-wrapper {
    float: left;
  }
  .technology .image-wrapper img {
    width: auto;
  }
  .technology .text-wrapper {
    float: right;
    height: 427px;
    padding: 70px 40px;
  }
  .technology .text-wrapper .text p {
    line-height: 30px;
    text-align: left;
  }
  .technology a.button.white_border {
    margin: 70px 0;
  }
}

/* ------------------------------------------------------------ * Technology page
\* ------------------------------------------------------------ */
.technology-page h1 {
  font-size: 20px;
  word-break: break-all;
}

.technology-page .technology-description {
  background: rgba(255, 255, 255, 0.8);
  margin-bottom: 100px;
}

.technology-page .technology-description p {
  text-align: center;
  padding: 10px 0;
  font-weight: 300;
  line-height: 20px;
}

.technology-page .technology-products {
  text-align: center;
  background: rgba(255, 255, 255, 0.8);
  display: block;
  position: relative;
}

.technology-page .technology-products h2 {
  color: #000;
  font-weight: 400;
  font-size: 30px;
  text-transform: uppercase;
  padding: 20px 0;
}

.technology-page .technology-products h3 {
  font-size: 25px;
  font-weight: 300;
  margin: 20px 0;
  color: #000;
  word-break: break-all;
}

.technology-page .technology-products .picture {
  position: relative;
  display: block;
  overflow: hidden;
  min-height: 400px;
}

.technology-page .technology-products .picture img {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}

.technology-page .technology-products:nth-child(2n) {
  background: #000;
}

.technology-page .technology-products:nth-child(2n) h2 {
  color: #fff;
}

.technology-page .technology-products:nth-child(2n) h3 {
  color: #fff;
}

@media only screen and (min-width: 768px) {
  .technology-page .technology-products {
    width: 50%;
    float: left;
  }
  .technology-page:after {
    clear: both;
    content: "";
    display: block;
  }
}

@media only screen and (min-width: 1023px) {
  .technology-page h1 {
    font-size: 26px;
  }
  .technology-page .technology-products {
    width: 33%;
  }
  .technology-page .technology-products .technology-overlay {
    background: rgba(0, 0, 0, 0.8);
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    opacity: 0;
    -webkit-transition: all 0.4s ease-in-out 0s;
    -moz-transition: all 0.4s ease-in-out 0s;
    transition: all 0.4s ease-in-out 0s;
  }
  .technology-page .technology-products .technology-overlay p {
    font-size: 18px;
    line-height: 25px;
    color: #fff;
    text-align: center;
    padding: 150px 20px;
  }
  .technology-page .technology-products:hover .technology-overlay {
    opacity: 1;
  }
}

.text {
  font-family: "Open Sans", sans-serif;
  font-size: 15px;
  line-height: 20px;
  font-weight: 300;
  word-break: keep-all;
}

@media only screen and (min-width: 1023px) {
  .text {
    font-size: 20px;
    line-height: 25px;
  }
}

/* ------------------------------------------------------------ *	Contacts
\* ------------------------------------------------------------ */
.contacts h1 {
  font-size: 20px;
}

.contact-icons {
  font-size: 15px;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  padding: 20px;
}

.contact-icons ul {
  display: block;
}

.contact-icons ul li {
  display: block;
}

.contact-icons ul li.email:before {
  content: "\f003";
  font-family: FontAwesome;
  display: inline-block;
  padding: 10px;
  font-size: 18px;
}

.contact-icons ul li.phone:before {
  content: "\f10b";
  font-family: FontAwesome;
  display: inline-block;
  padding: 10px;
  font-size: 23px;
}

.contact-icons ul li.address:before {
  content: "\f041";
  font-family: FontAwesome;
  display: inline-block;
  padding: 10px;
  font-size: 20px;
}

#googleMap2 {
  width: 100%;
  height: 460px;
  display: block;
  background: url("../css/images/map.png");
}

.contact-form {
  background: rgba(255, 255, 255, 0.8);
}

.contact-form h2 {
  color: #000;
  text-align: center;
  padding: 10px 0 20px 0;
  border-bottom: 1px solid #000;
}

.contact-form form.conrtol-form {
  width: 100%;
  margin-top: 20px;
}

.contact-form form.conrtol-form .form-text {
  display: block;
  height: 200px;
  width: 85%;
  margin: 10px auto;
  padding: 8px 20px;
  border: 1px solid #000;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 13px;
  color: #000;
  outline: none;
  overflow: hidden;
}

.contact-form form.conrtol-form .form-control {
  display: block;
  width: 85%;
  padding: 8px 20px;
  margin: 10px auto;
  border: 1px solid #000;
  color: #000;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 13px;
}

.contact-form form.conrtol-form .dropdown {
  position: relative;
}

.contact-form form.conrtol-form .dropdown .dropbtn {
  display: block;
  width: 99%;
  padding: 5px 17px;
  margin: 10px auto;
  border: 1px solid #000;
  border-radius: 0;
  color: #000;
  cursor: pointer;
  text-align: left;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 13px;
}

.contact-form form.conrtol-form .dropdown .dropbtn .fa.fa-angle-down {
  font-size: 30px;
  float: right;
  line-height: 25px;
}

.contact-form form.conrtol-form .dropdown .dropdown-content {
  display: none;
  position: absolute;
  background-color: #fff;
  min-width: 160px;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.contact-form form.conrtol-form .dropdown .dropdown-content.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.contact-form form.conrtol-form .submit {
  display: block;
  width: 50%;
  padding: 10px 0;
  margin: 0 auto;
  background: none;
  border: 2px solid #000;
  border-radius: 0;
  font-size: 18px;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
}

.contact-form form.conrtol-form .show {
  display: block;
}

@media only screen and (min-width: 412px) {
  .contact-form form.conrtol-form .dropdown .dropbtn {
    width: 97%;
  }
}

@media only screen and (min-width: 480px) {
  .contact-form form.conrtol-form .dropdown .dropbtn {
    width: 95%;
  }
}

@media only screen and (min-width: 600px) {
  .contact-form form.conrtol-form .dropdown .dropbtn {
    width: 92%;
  }
}

@media only screen and (min-width: 768px) {
  .contact-form form.conrtol-form .form-text {
    width: 92%;
  }
  .contact-form form.conrtol-form .form-control {
    width: 42%;
    display: inline-block;
    margin: 10px 7px 15px;
  }
  .contact-form form.conrtol-form .dropdown .dropbtn {
    width: 48%;
    float: left;
    margin: 10px 7px 25px;
  }
  .contact-form form.conrtol-form .dropdown-content {
    display: none;
  }
  .contact-form form.conrtol-form .submit {
    width: 40%;
    margin-top: 20px;
  }
  .contact-form form.conrtol-form .show {
    display: block;
  }
}

@media only screen and (min-width: 1023px) {
  .contacts h1 {
    font-size: 26px;
  }
  .contact-icons {
    width: 980px;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    padding: 20px 0;
  }
  .contact-icons ul .email {
    display: inline-block;
    float: left;
    overflow: hidden;
  }
  .contact-icons ul .phone {
    display: inline-block;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    width: 155px;
  }
  .contact-icons ul .address {
    display: inline-block;
    float: right;
    overflow: hidden;
  }
  .contact-form .inner {
    padding-bottom: 40px;
  }
  .contact-form .inner h2 {
    text-align: left;
    font-size: 20px;
    margin-left: 9px;
    padding-top: 40px;
  }
  .contact-form .inner form.conrtol-form {
    width: 75%;
    text-align: left;
  }
  .contact-form .inner form.conrtol-form .form-text {
    width: 93%;
  }
  .contact-form .inner form.conrtol-form .dropdown-content {
    display: none;
  }
  .contact-form .inner form.conrtol-form .submit {
    width: 26%;
  }
  .contact-form .inner form.conrtol-form .show {
    display: block;
  }
}

/* ------------------------------------------------------------ *	Aromas-inside
\* ------------------------------------------------------------ */
.pyramid {
  shape-outside: polygon(310px 0px, 130px 405px, 558px 405px);
  width: 320px;
  height: auto;
  margin: 0 auto;
}

.zone-up,
.zone-middle,
.zone-down {
  margin: 5px auto;
  text-align: center;
  color: black;
  background-blend-mode: darken;
  word-break: break-all;
  font-size: 12px;
  line-height: 24px;
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
}

.zone-up {
  padding: 50px 0;
  width: 44%;
  clip-path: url("#part1");
  clip-path: polygon(50% 0%, 100% 100%, 0% 100%);
  -webkit-clip-path: polygon(50% 0%, 100% 100%, 0% 100%);
  background: #c7cfed;
  background: -moz-linear-gradient(bottom, #c7cfed 0%, #dde1f4 50%, #f7f8fc 100%);
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0%, #c7cfed), color-stop(50%, #dde1f4), color-stop(100%, #f7f8fc));
  background: -webkit-linear-gradient(bottom, #c7cfed 0%, #dde1f4 50%, #f7f8fc 100%);
  background: -o-linear-gradient(bottom, #c7cfed 0%, #dde1f4 50%, #f7f8fc 100%);
  background: -ms-linear-gradient(bottom, #c7cfed 0%, #dde1f4 50%, #f7f8fc 100%);
  background: linear-gradient(to top, #c7cfed 0%, #dde1f4 50%, #f7f8fc 100%);
}

.zone-middle {
  padding: 20px 0;
  width: 71%;
  clip-path: url("#part2");
  clip-path: polygon(20.5% 0%, 79.5% 0, 100% 100%, 0% 100%);
  -webkit-clip-path: polygon(19% 0%, 81% 0, 100% 100%, 0% 100%);
  background: #8197d9;
  background: -moz-linear-gradient(bottom, #8197d9 0%, #a0afe2 50%, #b8c3e9 100%);
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0%, #8197d9), color-stop(50%, #a0afe2), color-stop(100%, #b8c3e9));
  background: -webkit-linear-gradient(bottom, #8197d9 0%, #a0afe2 50%, #b8c3e9 100%);
  background: -o-linear-gradient(bottom, #8197d9 0%, #a0afe2 50%, #b8c3e9 100%);
  background: -ms-linear-gradient(bottom, #8197d9 0%, #a0afe2 50%, #b8c3e9 100%);
  background: linear-gradient(to top, #8197d9 0%, #a0afe2 50%, #b8c3e9 100%);
}

.zone-middle p {
  width: 150px;
  margin: 0 auto;
}

.zone-down {
  padding: 30px 0;
  width: 94%;
  clip-path: polygon(13% 0, 87% 0, 100% 100%, 0% 100%);
  -webkit-clip-path: polygon(12.1% 0, 87.9% 0, 100% 100%, 0% 100%);
  background: #5171cb;
  background: -moz-linear-gradient(bottom, #5171cb 0%, #718ad4 100%);
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0%, #5171cb), color-stop(100%, #718ad4));
  background: -webkit-linear-gradient(bottom, #5171cb 0%, #718ad4 100%);
  background: -o-linear-gradient(bottom, #5171cb 0%, #718ad4 100%);
  background: -ms-linear-gradient(bottom, #5171cb 0%, #718ad4 100%);
  background: linear-gradient(to top, #5171cb 0%, #718ad4 100%);
}

.zone-down p {
  width: 300px;
  margin: 0 auto;
}

.aromas h1 {
  font-size: 20px;
}

.aromas .inner {
  background: rgba(255, 255, 255, 0.8);
}

.aromas .inner p {
  font-family: "Open Sans", sans-serif;
  font-size: 15px;
  line-height: 20px;
  font-weight: 300;
  word-break: keep-all;
  text-align: center;
}

.aromas .inner button {
  border: 2px solid #000;
  padding: 10px;
  font-family: "Open Sans", sans-serif;
  font-size: 17px;
  line-height: 20px;
  font-weight: 400;
  margin: 20px auto 0;
  width: 80%;
  display: block;
  border-radius: 0;
}

@media only screen and (min-width: 768px) {
  .aromas .inner button {
    width: 30%;
  }
  .pyramid {
    shape-outside: polygon(310px 0px, 130px 405px, 558px 405px);
    width: 600px;
    height: auto;
    margin: 0 auto;
  }
  .zone-up,
  .zone-middle,
  .zone-down {
    font-size: 15px;
    margin: 15px auto;
    padding: 40px 0;
  }
  .zone-up {
    width: 42%;
    padding: 90px 0;
    clip-path: url("#part1");
    clip-path: polygon(50% 0%, 100% 100%, 0% 100%);
    -webkit-clip-path: polygon(50% 0%, 100% 100%, 0% 100%);
  }
  .zone-up p {
    width: 100px;
    margin: 0 auto;
  }
  .zone-middle {
    width: 67%;
    padding: 60px 0;
    clip-path: url("#part2");
    clip-path: polygon(17% 0%, 83% 0, 100% 100%, 0% 100%);
    -webkit-clip-path: polygon(18% 0%, 82% 0, 100% 100%, 0% 100%);
  }
  .zone-middle p {
    width: 300px;
    margin: 0 auto;
  }
  .zone-down {
    width: 96%;
    padding: 60px 0;
    clip-path: polygon(14% 0, 86% 0, 100% 100%, 0% 100%);
    -webkit-clip-path: polygon(14% 0, 86% 0, 100% 100%, 0% 100%);
  }
  .zone-down p {
    width: 500px;
    margin: 0 auto;
  }
}

@media only screen and (min-width: 1023px) {
  .aromas h1 {
    font-size: 26px;
  }
  .aromas .inner {
    padding: 20px 0;
  }
  .aromas .inner p {
    padding: 0 150px;
  }
}

/* ------------------------------------------------------------ *	Text-wrapper
\* ------------------------------------------------------------ */
.text-wrapper {
  width: 100%;
}

@media only screen and (min-width: 1023px) {
  .text-wrapper {
    width: 50%;
  }
}

/* ------------------------------------------------------------ *	Image-wrapper
\* ------------------------------------------------------------ */
.content .image-wrapper {
  width: 100%;
  overflow: hidden;
}

@media only screen and (min-width: 1023px) {
  .content .image-wrapper {
    width: 50%;
  }
}

.technology .image-wrapper {
  width: 100%;
  overflow: hidden;
}

@media only screen and (min-width: 1023px) {
  .technology .image-wrapper {
    width: 50%;
  }
}

/* ------------------------------------------------------------ *	Blog
\* ------------------------------------------------------------ */
.blog {
  margin: 0 auto;
  text-align: center;
}

.blog h1 {
  font-size: 20px;
}

.blog .inner {
  padding: 0 20px;
}

.blog .inner .blog_wrapper {
  position: relative;
  width: 100%;
  height: 450px;
  display: block;
  background-color: black;
  margin: 0 auto;
  margin-bottom: 40px;
  text-align: left;
  word-break: break-word;
  font-family: "Open Sans", sans-serif;
}

.blog .inner .blog_wrapper h2 {
  padding: 15px;
}

.blog .inner .blog_wrapper p {
  color: #fff;
  font-size: 13px;
  line-height: 20px;
  padding: 0 15px;
  font-weight: 300;
}

.blog .inner .blog_wrapper .link_blog {
  color: #fff;
  display: block;
  position: absolute;
  bottom: 50px;
  right: 15px;
}

.blog .inner .blog_wrapper .link_blog:hover {
  text-decoration: underline;
}

.blog_pagination {
  display: block;
  text-align: center;
}

.blog_pagination a {
  font-size: 20px;
  line-height: 26px;
  font-weight: 400;
}

.blog_pagination a:hover {
  font-size: 30px;
}

@media only screen and (min-width: 768px) {
  .blog .inner .blog_wrapper {
    width: 49%;
    overflow: hidden;
    float: left;
    margin: 2px;
  }
  .blog .inner .blog_wrapper:after {
    clear: both;
    content: "";
    display: block;
  }
  .blog .inner:after {
    clear: both;
    content: "";
    display: block;
  }
}

@media only screen and (min-width: 1023px) {
  .blog h1 {
    font-size: 26px;
  }
  .blog .inner {
    width: 980px;
    padding: 0;
  }
  .blog .inner .blog_wrapper {
    width: 31%;
    overflow: hidden;
    margin: 0 10px 20px;
  }
  .blog .inner h2 {
    font-size: 20px;
    line-height: 30px;
  }
  .blog .inner p {
    font-size: 15px;
    line-height: 25px;
  }
}

/* ------------------------------------------------------------ *	Blog-article
\* ------------------------------------------------------------ */
.blog_article {
  padding: 0 20px 20px;
  margin: 0 auto;
  text-align: center;
  background: rgba(255, 255, 255, 0.8);
  font-family: "Open Sans", sans-serif;
  color: #000;
  margin-bottom: 100px;
}

.blog_article h1 {
  font-size: 20px;
  background: transparent;
}

.blog_article .subtitle {
  font-size: 18px;
  line-height: 28px;
  padding: 10px 0;
  font-weight: 400;
}

.blog_article .blog_image {
  display: block;
  width: 100%;
  height: 200px;
  background: url("../css/images/peony-flower-white-summer.png") no-repeat center top;
  background-size: cover;
}

ul.user {
  text-align: left;
  padding: 20px 0;
  font-size: 13px;
  line-height: 20px;
  color: #000;
}

ul.user li {
  display: inline;
  padding-right: 40px;
}

ul.user li.author:before {
  content: url("../css/images/author_icon.png");
  display: inline-block;
  margin-right: 10px;
}

ul.user li.date:before {
  content: url("../css/images/date-icon.png");
  display: inline-block;
  margin-right: 10px;
}

ul.user li a {
  color: #000;
}

.blog_text p,
.blog_comments p {
  font-size: 13px;
  font-family: "Open Sans", sans-serif;
  line-height: 23px;
  font-weight: 300;
  word-break: keep-all;
  text-align: left;
  padding: 5px 0;
}

.blog_text ul li {
  list-style: disc;
  list-style-position: inside;
  font-size: 13px;
  font-family: "Open Sans", sans-serif;
  line-height: 23px;
  font-weight: 300;
  word-break: keep-all;
  text-align: left;
}

.fb_share_button {
  padding: 10px 0;
  text-align: left;
  display: block;
}

.blog_comments {
  border-bottom: 1px solid #000;
  padding-bottom: 20px;
}

.blog_comments ul.user {
  border-top: 1px solid #000;
}

.blog_comments ul.user .author {
  display: block;
  font-weight: 400;
}

.blog_comments ul.user .author:before {
  display: none;
}

.blog_comments ul.user .date {
  display: block;
  font-weight: 300;
}

.blog_comments ul.user .date:before {
  display: none;
}

.blog_submit_form {
  width: 100%;
  margin: 20px auto;
  padding-bottom: 49px;
}

.blog_submit_form .name_input {
  border: 1px solid #000;
  width: 100%;
  padding: 10px 0;
  text-indent: 20px;
  color: #000;
  font-size: 15px;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
}

.blog_submit_form .enter_text {
  border: 1px solid #000;
  width: 100%;
  height: 200px;
  text-indent: 20px;
  padding: 20px 0;
  margin: 20px 0;
  color: #000;
  font-size: 15px;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  outline: none;
}

.blog_submit_form .submit {
  width: 50%;
  padding: 10px 0;
  border: 2px solid #000;
  font-weight: 400;
}

@media only screen and (min-width: 1023px) {
  .blog_article {
    width: 980px;
    padding: 0;
  }
  .blog_article h1 {
    font-size: 26px;
  }
  .blog_article .subtitle {
    text-align: left;
    font-size: 20px;
    line-height: 30px;
    padding: 20px 0;
  }
  .blog_article .blog_image {
    height: 450px;
  }
  .blog_text p,
  .blog_comments p {
    font-size: 15px;
    line-height: 25px;
    padding: 10px 0;
  }
  .blog_text ul li {
    font-size: 15px;
    line-height: 25px;
  }
  .blog_submit_form .name_input {
    width: 30%;
    display: block;
    text-align: left;
  }
  .blog_submit_form .enter_text {
    width: 600px;
    height: 250px;
    display: block;
    text-align: left;
  }
  .blog_submit_form .submit {
    width: 20%;
    display: block;
    margin-left: 200px;
    font-size: 25px;
  }
}

/* ------------------------------------------------------------ *	Breadcrumbs
\* ------------------------------------------------------------ */
.breadcrumb {
  font-size: 13px;
  font-family: "Open Sans", sans-serif;
  line-height: 23px;
  font-weight: 400;
  color: #000;
  padding: 0 10px;
  margin: 0 auto;
}

.breadcrumb ul.breadcrumb {
  display: inline;
  cursor: pointer;
}

.breadcrumb ul.breadcrumb li {
  display: inline;
}

.breadcrumb ul.breadcrumb li + li:before {
  color: black;
  content: '|';
}

.breadcrumb ul.breadcrumb li.home a {
  font-size: 0;
}

.breadcrumb ul.breadcrumb li.home:before {
  content: url("../css/images/home-icon.png");
  display: inline-block;
}

.breadcrumb ul.breadcrumb li a:hover {
  text-decoration: underline;
}

@media only screen and (min-width: 1023px) {
  .breadcrumb {
    font-size: 15px;
    line-height: 25px;
    width: 980px;
    padding: 0;
  }
}

/* ------------------------------------------------------------ * Services
\* ------------------------------------------------------------ */
.services {
  background: rgba(255, 255, 255, 0.8);
  margin-bottom: 50px;
}

.services h1 {
  font-size: 20px;
}

.services p {
  font-size: 13px;
  font-family: "Open Sans", sans-serif;
  line-height: 20px;
  font-weight: 300;
  word-break: keep-all;
  text-align: left;
  padding: 5px 0;
}

.technology-slider h1 {
  font-size: 20px;
}

.technology-slider .technology-slider-wrapper {
  padding: 0 20px;
  background: rgba(255, 255, 255, 0.8);
  position: relative;
}

.technology-slider .technology-slider-wrapper .swiper-container {
  width: 80%;
}

.technology-slider .technology-slider-wrapper .swiper-container .technology-products {
  text-align: center;
  display: block;
  position: relative;
}

.technology-slider .technology-slider-wrapper .swiper-container .technology-products h2 {
  color: #000;
  font-weight: 400;
  font-size: 20px;
  text-transform: uppercase;
  padding: 20px 0;
}

.technology-slider .technology-slider-wrapper .swiper-container .technology-products h3 {
  font-size: 18px;
  font-weight: 300;
  margin: 20px 0;
  color: #000;
  word-break: break-all;
}

.technology-slider .technology-slider-wrapper .swiper-container .technology-products .picture {
  position: relative;
  display: block;
  overflow: hidden;
  min-height: 400px;
}

.technology-slider .technology-slider-wrapper .swiper-container .technology-products .picture img {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}

.technology-slider .technology-slider-wrapper .swiper-button-next {
  background: url("../css/images/arrow_next.png") no-repeat;
}

.technology-slider .technology-slider-wrapper .swiper-button-prev {
  background: url("../css/images/arrow-prev.png") no-repeat;
}

.submit {
  display: block;
  width: 55%;
  padding: 10px;
  margin: 0 auto;
  background: none;
  border: 2px solid #000;
  border-radius: 0;
  font-size: 15px;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  margin-top: 50px;
}

@media only screen and (min-width: 768px) {
  .submit {
    width: 25%;
  }
}

@media only screen and (min-width: 1023px) {
  .services h1 {
    font-size: 26px;
  }
  .services p {
    text-align: center;
    font-size: 15px;
    padding: 10px 0;
  }
  .technology-slider h1 {
    font-size: 26px;
  }
  .technology-slider .technology-slider-wrapper {
    padding: 0;
    width: 980px;
    margin: 0 auto;
  }
  .technology-slider .technology-slider-wrapper .swiper-container .technology-products h2 {
    font-size: 25px;
  }
  .technology-slider .technology-slider-wrapper .swiper-container .technology-products h3 {
    font-size: 20px;
  }
  .submit {
    width: 280px;
    font-size: 25px;
  }
}

/* ------------------------------------------------------------ *	Partners
\* ------------------------------------------------------------ */
.partners {
  padding: 0 20px 20px;
  position: relative;
}

.partners h1 {
  font-size: 20px;
}

.partners .slider {
  position: relative;
}

.partners .swiper-container {
  margin: 50px auto;
  width: 80%;
}

.partners .swiper-container .swiper-slide {
  width: 300px;
}

.partners .swiper-container .swiper-slide .swiper-slide-image-container {
  text-align: center;
}

.partners .swiper-container .swiper-slide .swiper-slide-image-container .DS_logo {
  padding: 30px 0;
}

.partners .swiper-button-next {
  background: url("../css/images/arrow_next.png") no-repeat;
}

.partners .swiper-button-prev {
  background: url("../css/images/arrow-prev.png") no-repeat;
}

@media only screen and (min-width: 1023px) {
  .partners {
    padding: 0;
  }
  .partners h1 {
    font-size: 26px;
  }
  .partners .slider {
    width: 980px;
    margin: 0 auto;
  }
}

/* ------------------------------------------------------------ *	Footer
\* ------------------------------------------------------------ */
.footer {
  padding: 0 20px 20px;
  overflow: hidden;
}

.footer .footer_before {
  background: #000;
  color: #fff;
  padding: 40px 0;
  margin: 0 auto;
}

.footer .footer_before h2 {
  text-align: center;
  margin-top: 20px;
}

.footer .footer_before:after {
  clear: both;
  content: "";
  display: block;
}

.footer .footer_after {
  padding: 20px 0;
  font-family: "Open Sans", sans-serif;
  font-size: 13px;
  font-weight: 300;
}

.footer .footer_after:after {
  clear: both;
  content: "";
  display: block;
}

@media only screen and (min-width: 1023px) {
  .footer {
    padding: 0;
  }
  .footer_after {
    width: 980px;
    margin: 0 auto;
  }
}

/* ------------------------------------------------------------ *	NewsLetter_form
\* ------------------------------------------------------------ */
.newsletter_form {
  width: 90%;
  margin: 0 auto;
  overflow: hidden;
}

.newsletter_form .email_input {
  height: 40px;
  width: 100%;
  text-indent: 15px;
  color: #898989;
  font-size: 17px;
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  margin: 20px 0;
  display: block;
}

.newsletter_form .submit_input {
  height: 45px;
  width: 50%;
  border: 2px solid #fff;
  border-radius: 0;
  background: #000;
  color: #fff;
  font-size: 15px;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  display: block;
  margin: 0 auto;
}

.newsletter_form .submit_input:hover {
  font-weight: bold;
}

@media only screen and (min-width: 480px) {
  .newsletter_form {
    width: 80%;
  }
}

@media only screen and (min-width: 1023px) {
  .newsletter_form {
    width: 980px;
    text-align: center;
  }
  .newsletter_form .email_input {
    width: 400px;
    display: inline-block;
  }
  .newsletter_form .submit_input {
    width: 130px;
    display: inline-block;
    margin-left: 20px;
  }
}

/* ------------------------------------------------------------ *	Footer_menu
\* ------------------------------------------------------------ */
.footer_menu {
  margin: 30px 0 20px;
  display: block;
  width: 100%;
  text-align: center;
}

.footer_menu li {
  padding: 10px 0;
}

.footer_menu li a {
  color: #fff;
  font-size: 15px;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
}

.footer_menu li a:hover {
  font-weight: bold;
}

.social_icon {
  font-size: 0;
  display: block;
  text-align: center;
}

.copyright {
  text-align: center;
  display: block;
  padding: 10px 0;
  line-height: 17px;
}

.created {
  text-align: center;
  display: block;
  padding: 10px 0;
  line-height: 17px;
}

.created:after {
  content: url("../css/images/perspective_icon.png");
  display: inline-block;
  vertical-align: middle;
}

@media only screen and (min-width: 768px) {
  .footer_menu_wrapper {
    width: 46%;
    padding: 0 5px;
    margin: 0 auto;
  }
  .footer_menu_wrapper .footer_menu {
    width: 50%;
    text-align: left;
    float: left;
  }
  .social_icon {
    text-align: left;
  }
}

@media only screen and (min-width: 1023px) {
  .footer_menu_wrapper {
    width: 980px;
    overflow: hidden;
    padding: 0 20px;
  }
  .footer_menu_wrapper .footer_menu {
    width: 23%;
    margin: 0;
  }
  .social_icon {
    margin-top: 50px;
    text-align: center;
  }
  .copyright {
    float: left;
    padding: 0;
  }
  .created {
    float: right;
    padding: 0;
  }
}
 

 /*# sourceMappingURL= style.css.map */