/* ------------------------------------------------------------ *\
	Header
\* ------------------------------------------------------------ */

.header {
    background: rgba(255, 255, 255, .8);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 22;
    padding: 13px 0;
}

.header .inner{
    padding: 30px 20px;
}
/*----------- White navigation menu ----------*/

.header.homepage {
    background: none;
}

.header.homepage .logo.logo_white {
    display: block;
}

.header.homepage .logo.logo_color {
    display: none;
}

.header.homepage.scrolled .logo.logo_white,
.header.homepage.active .logo.logo_white {
    display: none;
}

.header.homepage.scrolled .logo.logo_color,
.header.homepage.active .logo.logo_color {
    display: block;
}

.header.homepage .phone_numbers a{
    color: $white;
    &.phone:before {
        content: url("../css/images/phone-white.png");
    }
}

.header.homepage.scrolled .phone_numbers a{
    color: $black;
    &.phone:before {
        content: url("../css/images/phone-black.png");
    }
}

.header.homepage.active .phone_numbers a {
    color: $black;
    &.phone:before {
        content: url("../css/images/phone-black.png");
    }
}

.header.homepage .nav a {
    color: $white;
}

.header.homepage.scrolled .nav a,
.header.homepage.active .nav a {
    color: $black;
}

.header.homepage .nav-lang ul li:nth-child(2) {
    border-left: 1px solid $white;
}

.header.homepage.scrolled .nav-lang ul li:nth-child(2),
.header.homepage.active .nav-lang ul li:nth-child(2) {
    border-left: 1px solid $black;
}

.header.homepage .nav-lang ul li a:hover:after {
    border-bottom: 0;
}

.header.homepage.scrolled .nav-lang ul li a:hover:after,
.header.homepage.active .nav-lang ul li a:hover:after {
    border-bottom: 0;
}

.header.homepage .nav-lang ul li a:hover {
    color: $black
}

.header.homepage.scrollrd .nav-lang ul li a:hover,
.header.homepage.active .nav-lang ul li a:hover {
    font-weight: 400;
}


/*---------end--------*/

.nav {
    text-transform: uppercase;
    font-weight: 300;
    color: $black;
    font-family: $font-family;
    font-size: $font-size-15;
    & a {
        color: $black;
    }
}

.logo img {
    width: 75px;
    height: 40px;
}

.nav-lang ul {
    font-size: $font-size-15;
    font-weight: 300;
    margin: 10px 0;
    & li {
        display: inline-block;
        &:nth-child(2) {
            border-left: 1px solid $black;
            line-height: 8px;
        }
        & a {
            padding: 4px 0 4px 4px;
            &:hover {
                background-color: $white;
                font-weight: 400;
            }
            &:hover:after {
                border-bottom: 0;
            }
        }
    }
}

.phone_numbers {
    font-size: $font-size-15;
    font-weight: 300;
    text-align: center;
    display: block;
    margin-top: -65px;
    color: $black;
    & .phone:before {
        content: url("../css/images/phone-black.png");
        vertical-align: middle;
        padding-right: 10px;
        display: inline-block;
    }
}
.phone_numbers a{
    margin: 0 3px;
}

.header.scrolled,
.header.active {
    background: $white;
}

@media #{$desktop} {
    .header .inner{
        padding: 0;
    }
    .logo {
        & img {
            width: 121px;
            height: 59px;
        }
    }
    .phone_numbers {
        font-size: 18px;
        line-height: 21px;
        float: right;
        margin-top: 1px;
        margin-right: 80px;
        overflow: hidden;
        &:after {
            clear: both;
            display: block;
            content: '';
        }
    }
    .header.homepage .phone_numbers {
        color: $white;
        margin-top: -56px;
        & .phone:before {
            content: url("../css/images/phone-white.png");
        }
    }
    .header.homepage.scrolled .phone_numbers {
        color: $black;
        margin-top: -56px;
        & .phone:before {
            content: url("../css/images/phone-black.png");
        }
    }
    .header .nav-lang ul {
        position: absolute;
        top: -68px;
        right: 10px;
        & li a:hover {
            background: none;
        }
    }
    .nav {
        display: block;
    }
}