/* ------------------------------------------------------------ *\
	Header
\* ------------------------------------------------------------ */

.header {
    background: rgba(255, 255, 255, .5);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 22;
    & .nav {
        text-transform: uppercase;
        font-weight: 300;
        color: $black;
        font-family: $font-family;
        font-size: $font-size-15;
        & a {
            color: $black;
        }
    }
    & .logo {
        & img {
            width: 75px;
            height: 40px;
        }
    }
    & .nav-lang {
        font-size: $font-size-15;
        font-weight: 400;
        & ul {
            & li {
                display: inline-block;
                &:nth-child(2) {
                    border-left: 1px solid $black;
                    line-height: 8px;
                }
                & a {
                    padding: 4px 0 4px 4px;
                    &:hover:after {
                        border-bottom: 0;
                    }
                }
            }
        }
    }
    & .phone {
        font-size: $font-size-15;
        font-weight: 400;
        position: absolute;
        left: 60px;
        right: 40px;
        top: 30px;
        margin: auto;
        width: 150px;
        &:before {
            content: url("/css/images/phone.png");
            vertical-align: middle;
            padding-right: 10px;
            display: inline-block;
        }
    }
    &.scrolled,
    &.active {
        background: $white;
    }
}

@media #{$desktop} {
    .header {
        & .logo {
            & img {
                width: 121px;
                height: 59px;
            }
        }
        & .phone {
            font-size: 18px;
            position: static;
            float: right;
            margin-right: 70px;
            width: auto;
            overflow: hidden;
        }
        & .nav-lang {
            display: inline-block;
            vertical-align: top;
            line-height: 18px;
            position: absolute;
            top: -20px;
            right: 228px;
        }
    }
    & .nav {
        display: block;
    }
}