/* ------------------------------------------------------------ *\
	Inner
\* ------------------------------------------------------------ */

.shell {
    position: relative;
}

.inner {
    margin: 0 auto;
    width: 90%;
    padding: 10px 0;
}

@media #{$desktop} {
    .inner {
        width: 980px;
    }
}