/* ------------------------------------------------------------ *\
	Aromas-inside
\* ------------------------------------------------------------ */

.pyramid {
    position: relative;
    & .up {
        width: 0px;
        height: 0px;
        border-style: inset;
        border-width: 0 100px 173.2px 100px;
        border-color: transparent transparent #007bff transparent;
        float: left;
        transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        margin-bottom: 50px;
        & p {
            text-align: center;
            top: 80px;
            left: -47px;
            position: relative;
            width: 93px;
            height: 93px;
            margin: 0px;
        }
    }
    & .middle {
        width: 200px;
        height: 100px;
        background: #ddd;
        margin: 20px 150px;
        position: relative;
        &:before {
            content: '';
            line-height: 0;
            font-size: 0;
            width: 0;
            height: 0;
            border-top: 50px solid transparent;
            border-bottom: 50px solid #ddd;
            border-left: 50px solid transparent;
            border-right: 50px solid #ddd;
            position: absolute;
            top: 0;
            left: -99px;
            &:after {
                content: '';
                line-height: 0;
                font-size: 0;
                width: 0;
                height: 0;
                border-top: 50px solid transparent;
                border-bottom: 50px solid #ddd;
                border-left: 50px solid #ddd;
                border-right: 50px solid transparent;
                position: absolute;
                top: 0;
                right: -99px;
            }
        }
    }
}