/* ------------------------------------------------------------ *\
	Content
\* ------------------------------------------------------------ */

.content {
    padding: 0 20px 20px;
    background: rgba(255, 255, 255, 0.7);
    overflow: hidden;
    margin-bottom: 100px;
    & h1 {
        font-size: 20px;
    }
    & .text-wrapper {
        & .text {
            overflow: hidden;
            margin: 20px 0;
        }
    }
    & a.button.black_border {
        margin: 0 auto;
        &:hover {
            background-color: $black;
            color: $white;
        }
    }
    & .image-wrapper {
        width: 100%;
        height: 200px;
        background: url("../css/images/Fully-White-Office.png") no-repeat;
        background-size: cover;
        background-position: center center;
    }
}

@media #{$tablet} {
    .content {
        padding: 0 20px;
        & .text-wrapper {
            float: left;
            & .text {
                float: right;
                width: 70%;
                text-align: right;
                padding: 50px 20px;
                overflow: hidden;
            }
            &:after {
                clear: both;
                content: '';
                display: block;
            }
        }
        & a.button.black_border {
            margin-right: 20px;
            float: right;
            overflow: hidden;
        }
        & .image-wrapper {
            float: right;
            overflow: hidden;
            height: 450px;
            background-position: left center;
            &:after {
                clear: both;
                content: '';
                display: block;
            }
        }
    }
}

@media #{$desktop} {
    .content {
        padding: 0;
        & h1 {
            font-size: $font-size-26;
        }
    }
}

@media #{$hd_desktop} {
    .content .text-wrapper .text {
        width: 60%;
    }
    .content .image-wrapper {
        background-position: bottom center;
    }
}