/* ------------------------------------------------------------ *\
	Blog
\* ------------------------------------------------------------ */

.blog {
    margin: 0 auto;
    text-align: center;
    & h1 {
        font-size: 20px;
    }
    & .inner {
        padding: 0 20px;
        & .blog_wrapper {
            position: relative;
            width: 100%;
            height: 450px;
            display: block;
            background-color: black;
            margin: 0 auto;
            margin-bottom: 10px;
            text-align: left;
            word-break: break-word;
            font-family: $font-family;
            & h2 {
                padding: 15px;
            }
            & p {
                color: $white;
                font-size: 13px;
                line-height: 20px;
                padding: 0 15px;
                font-weight: 300;
            }
            & .link_blog {
                color: $white;
                display: block;
                position: absolute;
                bottom: 50px;
                right: 15px;
                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }
}

.blog_pagination {
    display: block;
    text-align: center;
    & a {
        font-size: 20px;
        line-height: 26px;
        font-weight: 300;
        &:active {
            font-size: 25px;
            font-weight: 400;
        }
    }
}

@media #{$tablet} {
    .blog {
        & .inner {
            & .blog_wrapper {
                width: 48%;
                overflow: hidden;
                float: left;
                margin: 0 0 10px 10px;
                &:after {
                    clear: both;
                    content: "";
                    display: block;
                }
            }
            &:after {
                clear: both;
                content: "";
                display: block;
            }
        }
    }
}

@media #{$desktop} {
    .blog {
        & h1 {
            font-size: $font-size-26;
        }
        & .inner {
            width: 980px;
            padding: 0;
            & .blog_wrapper {
                width: 31%;
                overflow: hidden;
                margin: 0 10px 40px 10px;
            }
            & h2 {
                font-size: 20px;
                line-height: 30px;
            }
            & p {
                font-size: 15px;
                line-height: 25px;
            }
        }
    }
}