/* ------------------------------------------------------------ *\
	Content
\* ------------------------------------------------------------ */

.content {
    padding: 0 20px 20px;
    background: rgba(255, 255, 255, 0.7);
    overflow: hidden;
    margin-bottom: 100px;
    & h1 {
        font-size: 20px;
    }
    & .text-wrapper {
        & .text {
            overflow: hidden;
            margin: 20px 0;
        }
    }
    & a.button.black_border {
        margin: 0 auto;
        &:hover {
            background-color: $black;
            color: $white;
        }
    }
    & .image-wrapper {
        width: 100%;
    }
}

@media #{$desktop} {
    .content {
        padding: 0;
        & h1 {
            font-size: $font-size-26;
        }
        & .text-wrapper {
            float: left;
            & .text {
                float: right;
                width: 100%;
                text-align: right;
                padding: 20px;
                overflow: hidden;
            }
            &:after {
                clear: both;
                content: '';
                display: block;
            }
        }
        & a.button.black_border {
            margin-right: 35px;
            float: right;
            overflow: hidden;
        }
        & .image-wrapper {
            float: right;
            overflow: hidden;
            &:after {
                clear: both;
                content: '';
                display: block;
            }
        }
    }
}

@media #{$hd_desktop} {
    .content .text-wrapper .text {
        width: 70%;
        padding: 50px;
    }
}

@media only screen and (min-width: 1920px) {
    .content .text-wrapper .text {
        width: 50%;
        padding: 10 0px;
    }
}