/* ------------------------------------------------------------ *\
	NewsLetter_form
\* ------------------------------------------------------------ */

.newsletter_form {
    width: 90%;
    margin: 0 auto;
    overflow: hidden;
    & .email_input {
        height: 40px;
        width: 100%;
        text-indent: 15px;
        color: #898989;
        font-size: 17px;
        font-family: $font-family;
        font-weight: 300;
        margin: 20px 0;
        display: block;
    }
    & .submit_input {
        height: 45px;
        width: 50%;
        border: 2px solid $white;
        border-radius: 0;
        background: $black;
        color: $white;
        font-size: $font-size-15;
        font-family: $font-family;
        font-weight: 400;
        display: block;
        margin: 0 auto;
        &:hover {
            font-weight: bold;
        }
    }
}

@media #{$smartphone} {
    .newsletter_form {
        width: 80%;
    }
}

@media #{$desktop} {
    .newsletter_form {
        width: 980px;
        text-align: center;
        & .email_input {
            width: 400px;
            display: inline-block;
        }
        & .submit_input {
            width: 130px;
            display: inline-block;
            margin-left: 20px;
        }
    }
}