/* ------------------------------------------------------------ *\
	Technology
\* ------------------------------------------------------------ */

.technology {
    padding: 0 20px 20px;
    overflow: hidden;
    margin-bottom: 100px;
    & h1 {
        font-size: 20px;
    }
    & .image_wrapper {
        text-align: center;
        // background: rgba(255, 255, 255, 0.8);
        background: rgba(255, 255, 255, 0.8) url(../css/images/techology.png) no-repeat;
        background-size: contain;
        width: 100%;
        height: 200px;
        background-position: bottom center;
    }
    & .text_wrapper {
        background: $black;
        padding: 20px;
        text-align: center;
        & .text p {
            line-height: 25px;
            color: $white;
            &:first-child {
                font-weight: 400;
            }
        }
    }
    & a.button.white_border {
        margin: 20px auto 0;
        &:hover {
            background-color: $white;
            color: $black;
        }
    }
}

@media #{$tablet} {
    .technology {
        padding: 0 20px;
        & .image_wrapper {
            float: left;
            height: 300px;
        }
        & .text_wrapper {
            float: right;
            height: 300px;
            padding: 50px 20px;
            & .text p {
                line-height: 30px;
                text-align: left;
            }
        }
        & a.button.white_border {
            margin: 40px 0;
            width: 38%;
        }
    }
}

@media #{$desktop} {
    .technology {
        padding: 0;
        & h1 {
            font-size: $font-size-26;
        }
        & a.button.white_border {
            width: 25%;
        }
    }
}

@media #{$hd_desktop} {
    .technology a.button.white_border {
        width: 21%;
    }
}