/* ------------------------------------------------------------ *\
	Footer_menu
\* ------------------------------------------------------------ */

.footer_menu {
    margin: 30px 0 20px;
    display: block;
    width: 100%;
    text-align: center;
    & li {
        padding: 5px 0;
        & a {
            color: $white;
            font-size: $font-size-15;
            font-family: $font-family;
            font-weight: 400;
            line-height: 20px;
            &:hover {
                font-weight: bold;
            }
        }
    }
}

.social_icon {
    font-size: 0;
    display: block;
    text-align: center;
}

.copyright {
    text-align: center;
    display: block;
    padding: 10px 0;
    line-height: 17px;
}

.created {
    text-align: center;
    display: block;
    padding: 10px 0;
    line-height: 17px;
    &:after {
        content: url("../css/images/perspective_icon.png");
        display: inline-block;
        vertical-align: middle;
    }
}

@media #{$tablet} {
    .footer_menu_wrapper {
        width: 46%;
        padding: 0 5px;
        margin: 0 auto;
        .footer_menu {
            width: 50%;
            // text-align: left;
            float: left;
        }
    }
    .social_icon {
        // text-align: left;
    }
}

@media #{$desktop} {
    .footer_menu_wrapper {
        width: 980px;
        overflow: hidden;
        padding: 0 20px;
        & .footer_menu {
            width: 23%;
            margin: 0;
            text-align: left;
        }
    }
    .social_icon {
        margin-top: 50px;
        text-align: center;
        display: inline-block;
    }
    .copyright {
        float: left;
        padding: 0;
    }
    .created {
        float: right;
        padding: 0;
    }
}