/* ------------------------------------------------------------ *\
	Products
\* ------------------------------------------------------------ */

.products {
    position: relative;
    & h1 {
        font-size: 20px;
    }
    & .swiper-container {
        margin-bottom: 100px;
        & .swiper-slide {
            position: relative;
            // &:hover {
            //     & .overlay {
            //         opacity: 0;
            //     }
            & span:after {
                width: 90%;
                left: 1%;
                content: "";
                position: absolute;
                bottom: -10px;
                border-bottom: 2px solid $white;
            }
            & a.button.white_border.overlay {
                background: none;
            }
        }
        & a img {
            height: auto;
            width: 100%;
            display: block;
        }
        & span {
            font-family: $font-family-2;
            font-size: 30px;
            font-weight: 300;
            color: $white;
            position: absolute;
            z-index: 1;
            top: 35%;
            left: 10%;
        }
    }
}

.overlay {
    background: rgba(0, 0, 0, 0.6);
    position: absolute;
    height: 99%;
    width: 100%;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    opacity: 0;
    -webkit-transition: all 0.4s ease-in-out 0s;
    -moz-transition: all 0.4s ease-in-out 0s;
    transition: all 0.4s ease-in-out 0s;
}

a.button.white_border.overlay {
    width: 150px;
    height: 40px;
    text-align: center;
    left: 10%;
    top: 75%;
}

@media #{$desktop} {
    .products {
        & h1 {
            font-size: $font-size-26;
        }
        & .swiper-container .swiper-slide {
            &:hover {
                & .overlay {
                    opacity: 1;
                }
            }
        }
        & span {
            top: 30%;
            left: 20%;
        }
    }
}