/* ------------------------------------------------------------ *\
	Contacts
\* ------------------------------------------------------------ */

.contacts {
    & h1 {
        font-size: 20px;
    }
}

.contact-icons {
    font-size: $font-size-15;
    font-family: $font-family;
    font-weight: 400;
    padding: 20px;
    & ul.contact_icons_list {
        display: block;
        & li {
            display: block;
            &.email:before {
                content: "\f003";
                font-family: FontAwesome;
                display: inline-block;
                padding: 10px;
                font-size: 18px;
            }
            &.phone:before {
                content: "\f10b";
                font-family: FontAwesome;
                display: inline-block;
                padding: 10px;
                font-size: 23px;
            }
            &.address:before {
                content: "\f041";
                font-family: FontAwesome;
                display: inline-block;
                padding: 10px;
                font-size: 20px;
            }
        }
    }
}

#googleMap2 {
    width: 100%;
    height: 460px;
    display: block;
    background: url("../css/images/map.png");
}

.contact-form {
    background: rgba(255, 255, 255, 0.8);
    & h2 {
        color: $black;
        text-align: center;
        padding: 10px 0 20px 0;
        border-bottom: 1px solid $black;
    }
    & form.conrtol-form {
        width: 100%;
        margin-top: 20px;
        & .form-text {
            display: block;
            height: 200px;
            width: 85%;
            margin: 10px auto;
            padding: 8px 20px;
            border: 1px solid $black;
            font-family: $font-family;
            font-weight: 400;
            font-size: 13px;
            color: $black;
            outline: none;
            overflow: hidden;
        }
        & .form-control {
            display: block;
            width: 85%;
            padding: 8px 20px;
            margin: 10px auto;
            border: 1px solid $black;
            color: $black;
            font-family: $font-family;
            font-weight: 400;
            font-size: 13px;
        }
        & .dropdown {
            position: relative;
            & .dropbtn {
                display: block;
                width: 99%;
                padding: 7px 17px;
                margin: 10px auto;
                border: 1px solid #000;
                border-radius: 0;
                color: #000;
                cursor: pointer;
                text-align: left;
                font-family: $font-family;
                font-weight: 400;
                font-size: 13px;
                & .fa.fa-angle-down {
                    font-size: 30px;
                    float: right;
                    line-height: 20px;
                }
            }
            & .dropdown-content {
                display: none;
                // display: block;
                position: absolute;
                background-color: $white;
                min-width: 160px;
                overflow: auto;
                box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
                z-index: 1;
                &.dropdown-content a {
                    color: black;
                    padding: 12px 16px;
                    text-decoration: none;
                    display: block;
                }
            }
        }
        & .submit {
            display: block;
            width: 50%;
            padding: 10px 0;
            margin: 0 auto;
            background: none;
            border: 2px solid #000;
            border-radius: 0;
            font-size: 18px;
            font-family: $font-family;
            font-weight: 400;
        }
        & .show {
            display: block; /// to inser js for the button
        }
    }
}

@media only screen and (min-width: 412px) {
    .contact-form form.conrtol-form .dropdown .dropbtn {
        width: 97%;
    }
}

@media #{$smartphone} {
    .contact-form form.conrtol-form .dropdown .dropbtn {
        width: 95%;
    }
}

@media only screen and (min-width: 600px) {
    .contact-form form.conrtol-form .dropdown .dropbtn {
        width: 92%;
    }
}

@media #{$tablet} {
    .contact-form {
        & form.conrtol-form {
            & .form-text {
                width: 92%;
            }
            & .form-control {
                width: 42%;
                display: inline-block;
                margin: 10px 7px 15px;
            }
            & .dropdown {
                & .dropbtn {
                    width: 48%;
                    float: left;
                    margin: 10px 7px 25px;
                }
            }
            & .dropdown-content {
                display: none;
                // display: block;
                // position: absolute;
                // background-color: $white;
                // min-width: 160px;
                // overflow: auto;
                // box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
                // z-index: 1;
                // &.dropdown-content a {
                //     color: black;
                //     padding: 12px 16px;
                //     text-decoration: none;
                //     display: block;
                // }
            }
            & .submit {
                width: 40%;
                margin-top: 20px;
            }
            & .show {
                display: block; /// to inser js for the button
            }
        }
    }
}

@media #{$desktop} {
    .contacts {
        & h1 {
            font-size: $font-size-26;
        }
    }
    .contact-icons {
        width: 980px;
        margin: 0 auto;
        // overflow: hidden;
        padding: 20px 0;
        & ul.contact_icons_list {
            position: relative;
            & .email {
                float: left;
                overflow: hidden;
            }
            & .phone {
                position: absolute;
                left: 0;
                right: 0;
                margin: auto;
                width: 155px;
            }
            & .address {
                float: right;
                overflow: hidden;
            }
        }
        &:after {
            clear: both;
            display: block;
            content: '';
        }
    }
    .contact-form {
        & .inner {
            padding-bottom: 40px;
            & h2 {
                text-align: left;
                font-size: 20px;
                margin-left: 9px;
                padding-top: 40px;
            }
            & form.conrtol-form {
                width: 75%;
                text-align: left;
                & .form-text {
                    width: 93%;
                }
                & .dropdown-content {
                    display: none;
                    // display: block;
                    // position: absolute;
                    // background-color: $white;
                    // min-width: 160px;
                    // overflow: auto;
                    // box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
                    // z-index: 1;
                    // &.dropdown-content a {
                    //     color: black;
                    //     padding: 12px 16px;
                    //     text-decoration: none;
                    //     display: block;
                    // }
                }
                & .submit {
                    width: 26%;
                }
                & .show {
                    display: block; /// to inser js for the button
                }
            }
        }
    }
}