/* ------------------------------------------------------------ *\
	Contacts
\* ------------------------------------------------------------ */

.contacts {
    & h1 {
        font-size: 20px;
    }
}

.contact_icons {
    font-size: $font-size-15;
    font-family: $font-family;
    font-weight: 400;
    padding: 20px;
    & ul.contact_icons_list {
        display: block;
        & li {
            display: block;
        }
    }
}

li.email:before {
    content: "\f003";
    font-family: FontAwesome;
    display: inline-block;
    padding: 10px;
    font-size: 18px;
}

li.phone:before {
    content: "\f10b";
    font-family: FontAwesome;
    display: inline-block;
    padding: 10px;
    font-size: 23px;
}

li.address:before {
    content: "\f041";
    font-family: FontAwesome;
    display: inline-block;
    padding: 10px;
    font-size: 20px;
}

#googleMap2 {
    width: 100%;
    height: 460px;
    display: block;
    background: url("../css/images/map.png");
}

.contact_form {
    background: rgba(255, 255, 255, 0.8);
    & h2 {
        color: $black;
        text-align: center;
        padding: 10px 0 20px 0;
        border-bottom: 1px solid $black;
    }
}

form.conrtol_form {
    width: 100%;
    margin-top: 20px;
}

.form_text {
    display: block;
    height: 200px;
    width: 85%;
    margin: 10px auto;
    padding: 8px 20px;
    border: 1px solid $black;
    font-family: $font-family;
    font-weight: 400;
    font-size: 13px;
    color: $black;
    outline: none;
    overflow: hidden;
}

.form_group {
    display: block;
    width: 100%;
    padding: 8px 20px;
    margin: 10px auto;
    border: 1px solid $black;
}

.form_group input {
    width: 100%;
    display: block;
    color: #000;
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-size: 13px;
    border: none;
    background: none;
}

.dropdown {
    position: relative;
    & .dropbtn {
        display: block;
        width: 100%;
        padding: 8px 20px;
        margin: 10px auto;
        border: 1px solid #000;
        border-radius: 0;
        color: #000;
        cursor: pointer;
        text-align: left;
        font-family: $font-family;
        font-weight: 400;
        font-size: 13px;
        & .fa.fa-angle-down {
            font-size: 30px;
            float: right;
            line-height: 20px;
        }
    }
}

.dropdown_content.left,
.dropdown_content.right {
    display: none;
    position: absolute;
    background-color: $white;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    min-width: 220px;
    top: 38px;
    left: -1px;
    & a {
        color: black;
        padding: 10px;
        text-decoration: none;
        display: block;
        font-size: 13px;
        font-family: $font-family;
        font-weight: 300;
        line-height: 20px;
        &:hover {
            background-color: rgba(0, 0, 0, 0.1);
        }
    }
}

.dropdown_content.right {
    left: auto;
}

.dropdown:hover .dropdown_content.left,
.dropdown:hover .dropdown_content.right {
    display: block;
}

.text_area {
    display: block;
    width: 100%;
    margin: 10px auto;
    padding: 8px 20px;
    border: 1px solid $black;
    font-family: $font-family;
    font-weight: 400;
    font-size: 13px;
    color: $black;
    overflow: hidden;
}

.text_area textarea {
    width: 100%;
    background: none;
    border: none;
    outline: none;
    font-family: $font-family;
    font-weight: 400;
    font-size: 13px;
    color: $black;
    overflow: hidden;
}

.submit {
    display: block;
    width: 50%;
    padding: 10px 0;
    margin: 0 auto;
    background: none;
    border: 2px solid #000;
    border-radius: 0;
    font-size: 15px;
    font-family: $font-family;
    font-weight: 400;
    &:hover {
        color: $white;
        background: $black;
    }
}

@media #{$tablet} {
    .contact_icons ul.contact_icons_list {
        position: relative;
        &:after {
            clear: both;
            display: block;
            content: '';
        }
    }
    .contact_icons .email {
        float: left;
        overflow: hidden;
    }
    .contact_icons .phone {
        position: absolute;
        left: 0;
        right: 0;
        margin: auto;
        width: 155px;
    }
    .contact_icons .address {
        float: right;
        overflow: hidden;
    }
    .form_group {
        width: 49%;
        display: inline-block;
        float: left;
        margin: 10px 3px;
    }
    .dropdown .dropbtn {
        width: 49%;
        float: left;
        display: inline-block;
        margin: 10px 3px;
    }
    .dropdown_content.left {
        min-width: 300px;
        left: 5px;
        top: 107px;
    }
    .dropdown_content.right {
        min-width: 300px;
        top: 107px;
        right: 62px;
    }
    .text_area {
        width: 99%;
    }
    .submit {
        width: 40%;
        margin-top: 20px;
    }
}

@media #{$desktop} {
    .contacts {
        & h1 {
            font-size: $font-size-26;
        }
    }
    .contact_icons {
        width: 980px;
        margin: 0 auto;
        padding: 20px 0;
    }
    .contact_form {
        & .inner {
            padding-bottom: 40px;
            & h2 {
                font-size: 20px;
            }
        }
    }
    form.conrtol_form {
        width: 75%;
        margin: 20px auto;
    }
    .submit {
        width: 26%;
        font-size: 18px;
    }
}