/* ------------------------------------------------------------ *\
	Technology
\* ------------------------------------------------------------ */

.technology {
    padding: 0 20px 20px;
    overflow: hidden;
    margin-bottom: 100px;
    & h1 {
        font-size: 20px;
    }
    & .image-wrapper {
        text-align: center;
        background: $white;
        & img {
            width: 200px;
        }
    }
    & .text-wrapper {
        background: $black;
        padding: 40px;
        text-align: center;
        & .text p {
            line-height: 25px;
            color: $white;
            &:first-child {
                font-weight: bold;
            }
        }
    }
    & a.button.white_border {
        margin: 40px auto 0;
        &:hover {
            background-color: $white;
            color: $black;
        }
    }
}

@media #{$desktop} {
    .technology {
        padding: 0;
        & h1 {
            font-size: $font-size-26;
        }
        & .image-wrapper {
            float: left;
            & img {
                width: auto;
            }
        }
        & .text-wrapper {
            float: right;
            height: 427px;
            padding: 70px 40px;
            & .text p {
                line-height: 30px;
                text-align: left;
            }
        }
        & a.button.white_border {
            margin: 70px 0;
        }
    }
}