/* ------------------------------------------------------------ *\
	Products
\* ------------------------------------------------------------ */

.products {
    & h1 {
        font-size: 20px;
    }
    & .swiper-container {
        margin-bottom: 100px;
        & .swiper-slide {
            position: relative;
            display: block;
            overflow: hidden;
            padding: 2px;
            & a {
                width: 100%;
                display: block;
                max-height: 320px;
                height: 100%;
                & img {
                    width: 100%;
                }
                & span {
                    font-family: $font-family-2;
                    font-size: 35px;
                    font-weight: 300;
                    color: $white;
                    position: absolute;
                    z-index: 1;
                    top: 35%;
                    left: 10%;
                    text-align: left;
                    &:hover span:after {
                        width: 90%;
                        left: 1%;
                        content: "";
                        position: absolute;
                        bottom: -10px;
                        border-bottom: 2px solid $white;
                    }
                }
            }
        }
    }
}

.swiper-slide .overlay {
    background: rgba(0, 0, 0, 0.6);
    position: absolute;
    height: 99%;
    width: 100%;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    opacity: 0;
    margin: 2px;
    -webkit-transition: all 0.4s ease-in-out 0s;
    -moz-transition: all 0.4s ease-in-out 0s;
    transition: all 0.4s ease-in-out 0s;
    & a.button.white_border.overlay {
        width: 150px;
        height: 40px;
        text-align: center;
        left: 7%;
        top: 60%;
    }
}

@media #{$desktop} {
    .products {
        & h1 {
            font-size: $font-size-26;
        }
        & .swiper-container .swiper-slide {
            &:hover {
                & .overlay {
                    opacity: 1;
                }
                & a.button.white_border.overlay {
                    background: none;
                }
                & span:after {
                    width: 90%;
                    left: 1%;
                    content: "";
                    position: absolute;
                    bottom: -10px;
                    border-bottom: 2px solid $white;
                }
            }
        }
    }
}