/* ------------------------------------------------------------ *\
	Inner
\* ------------------------------------------------------------ */

.inner {
    padding: 20px;
}

@media #{$desktop} {
    .inner {
        width: 980px;
        margin: 0 auto;
        padding: 13px 0;
    }
}