/* ------------------------------------------------------------ *\
	Blog-article
\* ------------------------------------------------------------ */

.blog_article {
    padding: 0 20px 20px;
    margin: 0 auto;
    text-align: center;
    background: rgba(255, 255, 255, .8);
    font-family: $font-family;
    color: $black;
    margin-bottom: 100px;
    & h1 {
        font-size: 20px;
        background: transparent;
    }
    & .subtitle {
        font-size: 18px;
        line-height: 28px;
        padding: 10px 0;
        font-weight: 400;
    }
    & .blog_image {
        display: block;
        width: 100%;
        height: 200px;
        background: url("../css/images/peony-flower-white-summer.png") no-repeat center top;
        background-size: cover;
    }
}

ul.user {
    text-align: left;
    padding: 20px 0;
    font-size: 13px;
    line-height: 20px;
    color: $black;
    & li {
        display: inline;
        padding-right: 40px;
        &.author:before {
            content: url("../css/images/author_icon.png");
            display: inline-block;
            margin-right: 10px;
        }
        &.date:before {
            content: url("../css/images/date-icon.png");
            display: inline-block;
            margin-right: 10px;
        }
        & a {
            color: $black;
        }
    }
}

.blog_text p,
.blog_comments p {
    font-size: 13px;
    font-family: $font-family;
    line-height: 23px;
    font-weight: 300;
    word-break: keep-all;
    text-align: left;
    padding: 5px 0;
}

.blog_text ul li {
    list-style: disc;
    list-style-position: inside;
    font-size: 13px;
    font-family: $font-family;
    line-height: 23px;
    font-weight: 300;
    word-break: keep-all;
    text-align: left;
}

.fb_share_button {
    padding: 10px 0;
    text-align: left;
    display: block;
}

.blog_comments {
    border-bottom: 1px solid $black;
    padding-bottom: 20px;
    & ul.user {
        border-top: 1px solid $black;
    }
}

.blog_comments ul.user {
    & .author {
        display: block;
        font-weight: 400;
        &:before {
            display: none;
        }
    }
    & .date {
        display: block;
        font-weight: 300;
        &:before {
            display: none;
        }
    }
}

.blog_submit_form {
    width: 100%;
    margin: 20px auto;
    padding-bottom: 49px;
    & .name_input {
        border: 1px solid $black;
        width: 100%;
        padding: 10px 0;
        text-indent: 20px;
        color: $black;
        font: 400 15px "Open Sans", sans-serif;
    }
    & .enter_text {
        border: 1px solid $black;
        width: 100%;
        height: 200px;
        text-indent: 20px;
        padding: 20px 0;
        margin: 20px 0;
        color: $black;
        font: 400 15px "Open Sans", sans-serif;
        outline: none;
    }
    & .submit {
        width: 50%;
        padding: 10px 0;
        border: 2px solid $black;
        font-weight: 400;
    }
}

@media #{$desktop} {
    .blog_article {
        width: 980px;
        padding: 0;
        & h1 {
            font-size: 26px;
        }
        & .subtitle {
            text-align: left;
            font-size: 20px;
            line-height: 30px;
            padding: 20px 0;
        }
        & .blog_image {
            height: 450px;
        }
    }
    .blog_text p,
    .blog_comments p {
        font-size: 15px;
        line-height: 25px;
        padding: 10px 0;
    }
    .blog_text ul li {
        font-size: 15px;
        line-height: 25px;
    }
    .blog_submit_form {
        & .name_input {
            width: 30%;
            display: block;
            text-align: left;
        }
        & .enter_text {
            width: 600px;
            height: 250px;
            display: block;
            text-align: left;
        }
        & .submit {
            width: 15%;
            display: block;
            margin-left: 200px;
            font-size: 25px;
        }
    }
}