/* ------------------------------------------------------------ *\
	Intro
\* ------------------------------------------------------------ */

.intro {
    background: url("../css/images/airlia_home pic.jpg") center center no-repeat;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 650px;
    height: 100%;
    width: 100%;
    margin-top: -120px;
    position: relative;
}

.intro_left {
    margin: 0 auto;
    width: 300px;
    padding-top: 280px;
    margin-bottom: 30px;
}

.intro_slogan {
    color: $white;
    font-family: 'Annabelle';
    font-size: 30px;
    display: block;
    text-align: center;
}

.intro_right {
    width: 300px;
    color: $white;
    margin: 0 auto;
}

.intro_quote {
    font-size: 14px;
    font-family: $font-family;
    font-style: italic;
    color: $white;
    font-weight: 300;
    text-align: center;
    line-height: 22px;
    word-break: keep-all;
}

.intro_author {
    font-size: 12px;
    font-weight: 300;
    font-style: italic;
    font-family: $font-family;
    color: $white;
    text-align: right;
    display: block;
    margin: 20px 0;
}

.read_more {
    font-family: $font-family;
    font-weight: 400;
    font-size: 13px;
    color: $white;
    text-align: right;
    display: block;
    position: relative;
    text-align: center;
    &:hover:after {
        width: 15%;
        content: "";
        position: absolute;
        height: 1px;
        bottom: -10px;
        border-bottom: 2px solid $white;
        left: 0;
        right: 0;
        margin: auto;
    }
}

@media #{$tablet} {
    
    .intro_left {
        float: left;
        // margin-top:39%;
        margin-top: 29%;
        margin-left: 10%;
        width: auto;
    }
    .intro_slogan {
        font-size: 40px; 
    }
    .intro_right {
        width: 290px;
        position: absolute;
        top: 48%;
        right: 10px;
    }
    .intro_quote {
        font-size: 18px;
        line-height: 24px;
        
    }
    .intro_author {
        font-size: 16px;
        
    }
    .read_more {
        font-size: 15px;
        
    }
}
@media #{$desktop} {
    .intro_right {
        top: 46%;
        right: 2%;
        width: 400px;
    }
    .intro_left {
        position: absolute;
        float: none;
        margin: 0;
        top: 50%;
        left: 2%;
    }
    .intro_slogan {
        font-size: 65px;
    }
    .intro_quote {
        font-size: 25px;
        line-height: 37px;
        
    }
    .intro_author {
        font-size: 22px;
        
    }
    .read_more {
        font-size: 20px;
        
    }
}
@media only screen and (min-width: 1280px) {
    .intro_left {
       left: 5%;
    }
    .intro_right {
        width: 500px;
    }
}
@media #{$hd_desktop} {
    .intro_right {
        right: 6%;
    }
    .intro_slogan {
        font-size: 70px;
    }
}

@media only screen and (min-width: 1440px) {
    .intro_left {
        top: 54%;
    }
}

@media only screen and (min-width: 1920px) {
    .intro_left {
        top: 60%;
    }
    .intro_right {
        right: 10%;
        top: 50%;
        width: 580px;
    }
    .intro_quote {
        line-height: 44px;
    }
    .intro_author{
        margin: 40px 0 60px;
    }
}
