/* ------------------------------------------------------------ *\
	Brands
\* ------------------------------------------------------------ */

.brands_section {
    & .brands_banner {
        display: block;
        width: 100%;
        height: 200px;
        background: url("../css/images/banner-sofitel.png") no-repeat center;
        background-size: cover;
    }
    & .brands_list_wrapper {
        padding: 20px;
        margin: 0 auto;
    }
}

.brands_list {
    background: $black;
    color: $white;
    overflow: hidden;
    margin: 20px 0;
    & img {
        display: block;
        margin: 20px auto 0;
    }
    & .brands_text {
        padding: 20px;
        & h2 {
            text-align: center;
            text-transform: uppercase;
            font-size: 25px;
            letter-spacing: 2px;
            margin: 10px 0;
        }
        & p {
            text-align: left;
            word-break: keep-all;
            line-height: 25px;
            font-size: 13px;
            padding: 5px 0;
            & span {
                text-transform: uppercase;
            }
        }
        & ul li {
            list-style: disc;
            list-style-position: inside;
            line-height: 25px;
            font-size: 13px;
        }
        & a {
            display: block;
            color: $white;
            font-size: $font-size-15;
            text-align: right;
            padding: 20px 0;
            font-weight: 400;
            &:hover {
                text-decoration: underline;
            }
        }
    }
}

@media #{$desktop} {
    .brands_section {
        & .brands_banner {
            height: 400px;
            margin-bottom: 80px;
        }
        & .brands_list_wrapper {
            width: 900px;
            padding: 0;
        }
    }
    .brands_list {
        & img {
            float: left;
            margin-top: 150px;
            margin-left: 30px;
        }
        & .brands_text {
            float: right;
            width: 66%;
            &:after {
                clear: both;
                display: block;
                content: "";
            }
            & p {
                font-size: $font-size-15;
                padding: 10px 0;
            }
            & ul li {
                font-size: $font-size-15;
            }
            & a {
                font-size: 20px;
                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }
}