/* ------------------------------------------------------------ *\
	Image-wrapper
\* ------------------------------------------------------------ */

.content .image_wrapper {
    width: 100%;
    overflow: hidden;
}

@media #{$tablet} {
    .content .image_wrapper {
        width: 50%;
    }
}

.technology .image_wrapper {
    width: 100%;
    overflow: hidden;
}

@media #{$tablet} {
    .technology .image_wrapper {
        width: 50%;
    }
}