/* ------------------------------------------------------------ *\
	Partners
\* ------------------------------------------------------------ */

.partners {
    padding: 0 20px 20px;
    position: relative;
    & h1 {
        font-size: 20px;
    }
    & .slider {
        position: relative;
        margin: 30px auto;
    }
    & .swiper-container {
        width: 80%;
        & .swiper-slide {
            & .swiper-slide-image-container {
                text-align: center;
                & .DS_logo {
                    padding-top: 51px;
                }
                & .cl_logo {
                    padding-top: 25px;
                }
                & .telenor_logo {
                    padding-top: 30px;
                }
                & .pp_logo {
                    padding-top: 6px;
                }
                & .v6_logo {
                    padding-top: 13px;
                }
            }
        }
    }
    & .swiper-button-next {
        background: url("../css/images/arrow_next.png") no-repeat;
    }
    & .swiper-button-prev {
        background: url("../css/images/arrow-prev.png") no-repeat;
    }
}

@media #{$desktop} {
    .partners {
        padding: 0;
        & h1 {
            font-size: $font-size-26;
        }
        & .slider {
            width: 980px;
            background: rgba(255, 255, 255, 0.8);
        }
    }
}