/* ------------------------------------------------------------ *\
	Navigations
\* ------------------------------------------------------------ */

.nav {
    position: relative;
    display: none;
    & ul {
        & a {
            display: block;
            padding: 20px 0;
            &:hover {
                background-color: rgba(0, 0, 0, 0.1);
            }
        }
    }
    &.active {
        display: block;
        transform: translateX(0);
        height: 100vh;
        width: 100%;
        background: $white;
        margin-top: 22px;
        text-align: center;
    }
}

.nav ul.sub-list {
    display: none;
    width: 100%;
    & li {
        display: list-item;
        & a {
            padding: 20px 0;
            text-transform: capitalize;
        }
    }
}

.nav li.has-sub-list a.down:after {
    content: "\f107";
    font-family: FontAwesome;
    margin-left: 10px;
    -ms-transform: rotate(0);
    /* IE 9 */
    -webkit-transform: rotate(0);
    /* Safari */
    transform: rotate(0);
}

.nav li.has-sub-list.active a.down:after {
    content: "\f106";
    font-family: FontAwesome;
    margin-left: 10px;
    -ms-transform: rotate(180deg);
    /* IE 9 */
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
    -ms-transition: all 0.4s;
    -webkit-transition: all 0.4s;
    transition: all 0.4s;
}

.nav li.active .sub-list {
    display: inline-block;
    position: static;
}

.nav-trigger {
    position: absolute;
    right: 20px;
    top: 33px;
    display: inline-block;
    z-index: 3;
    width: 40px;
    height: 26px;
    & span {
        position: absolute;
        display: block;
        width: 100%;
        height: 3px;
        // background: $white;
        background: $black;
        transition: top .2s .25s, left .2s .25s, opacity .2s .25s, -webkit-transform .2s 0s;
        transition: top .2s .25s, left .2s .25s, opacity .2s .25s, transform .2s 0s;
        transition: top .2s .25s, left .2s .25s, opacity .2s .25s, transform .2s 0s, -webkit-transform .2s 0s;
        &:nth-child(1) {
            top: 0;
        }
        &:nth-child(2) {
            top: 12px;
        }
        &:nth-child(3) {
            top: 25px;
        }
    }
}

.nav-trigger.active span {
    transition: background .2s, top .2s, left .2s, opacity .2s, -webkit-transform .2s .25s;
    transition: background .2s, top .2s, left .2s, opacity .2s, transform .2s .25s;
    transition: background .2s, top .2s, left .2s, opacity .2s, transform .2s .25s, -webkit-transform .2s .25s;
}

.nav-trigger.active span:nth-child(3),
.nav-trigger.active span:nth-child(1) {
    top: 12px;
    background: $black;
    // background: $white;
}

.nav-trigger.active span:nth-child(2) {
    opacity: 0;
}

.nav-trigger.active span:nth-child(1) {
    transform: rotate(45deg);
}

.nav-trigger.active span:nth-child(3) {
    transform: rotate(-45deg);
}

@media #{$desktop} {
    .nav {
        display: block;
        & ul {
            position: absolute;
            top: -41px;
            right: 0;
            & li {
                display: inline-block;
                cursor: pointer;
                &:hover .sub-list {
                    display: block;
                }
            }
            & a {
                position: relative;
                padding: 20px 10px;
                &:hover {
                    background-color: transparent;
                }
                &:hover:after {
                    width: 50%;
                    left: 25%;
                    content: "";
                    position: absolute;
                    height: 1px;
                    bottom: 10px;
                    border-bottom: 2px solid $black;
                    // border-bottom: 2px solid $white;
                }
            }
        }
    }
    .nav ul.sub-list {
        display: none;
        position: absolute;
        top: 54px;
        background: rgba(255, 255, 255, .8);
        width: 145px;
        right: 221px;
        text-transform: initial;
        & li {
            display: list-item;
            & a {
                padding: 10px 14px;
                &:hover {
                    background-color: rgba(255, 255, 255, .8);
                }
                &:hover:after {
                    border-bottom: none;
                }
            }
        }
    }
    .nav li.has-sub-list a.down:after {
        content: '';
        display: block;
    }
    .nav li.has-sub-list a:hover:after {
        border-bottom: 0;
    }
    .nav-trigger {
        display: none;
    }
    .fa.fa-caret-down {
        display: none;
    }
}