/* ------------------------------------------------------------ *\
	Breadcrumbs
\* ------------------------------------------------------------ */

.blog_breadcrumb {
    font-size: $font-size-15;
    font-family: $font-family;
    line-height: 38px;
    font-weight: 400;
    color: $black;
    padding: 10px;
    margin: 0 auto;
    & ul.breadcrumb {
        display: inline;
        padding: 10px;
        & li {
            display: inline;
            &+li:before {
                color: black;
                content: '|';
            }
            &.home a {
                font-size: 0;
            }
            &.home:before {
                content: url("/css/images/home-icon.png");
                display: inline-block;
            }
            & a:hover {
                text-decoration: underline;
            }
        }
    }
}